@model WDAdmin.WebUI.Models.UserGroupFormModel

@{
    ViewBag.Title = LangResources.UserGroupManagement;
}

<h4 class="alert_info">@LangResources.UserGroupAddTitle</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <article class="module width_full">
        <header><h3>@LangResources.UserGroupAddHeader - @LangResources.Sites</h3></header> 
        <br /> @Html.HiddenFor(m => m.UserGroupParentId) @Html.HiddenFor(x => x.CountryId) @Html.HiddenFor(x => x.CustomerId)
        <div class="editor-label">
            @Html.LabelFor(m => m.GroupName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.GroupName)  
            @Html.ValidationMessageFor(m => m.GroupName)
        </div>
        <br />
        <div class="editor-label">
            @LangResources.ChooseVFOExercises
        </div>
        <div class="clear"></div>
        <br />
        <div id="exercises">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Model.Categories)
                    {
                        if (cat != Model.Categories.First())
                        {
                            <tr style="height: 10px;"></tr>   
                        }
                        <tr style="height: 25px;">
                            <td><span>@cat.Name</span></td>
                            <td><input id="@cat.Id" type="checkbox" class="choice-checkbox category"/></td>  
                        </tr>
                        foreach (var ex in cat.Exercises)
                        {
                            var chosen = string.Empty;
                            if (Model.ExercisesChosen.Contains(ex.Id))
                            {
                                chosen = "checked";
                            }
                            <tr>
                                <td><span style="padding-left: 25px;">@ex.Name</span></td>
                                <td><input data-category="@cat.Id" type="checkbox" class="choice-checkbox exercise" name="ExercisesChosen" value="@ex.Id" @chosen/></td>    
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
        <input type="submit" value="@LangResources.Create" />
        <button onclick="history.back(); return false;">@LangResources.BtnCancel</button>
    </article>
}

@Html.ValidationSummary(true, LangResources.UserGroupCreateGeneralError)

<script type="text/javascript">
    $(document).ready(function () {
        //Check if any exercise checked, if so, check the parent category
        var exercises = $('.exercise');
        $.each(exercises, function (index, value) {
            var id = $(this).attr('data-category');
            if ($(this).is(':checked')) {
                $('input[id="' + id + '"]').attr('checked', true).trigger('change');
            }
        });
        
        //Check all if parent checked
        $(".category").click(function () {
            var id = $(this).attr('id');
            $('input[data-category="' + id + '"]').attr("checked", this.checked);
        });

        //Check parent if child is checked - don't uncheck parent until last child is unchecked
        $('.exercise').click(function () {
            var id = $(this).attr('data-category');
            if ($(this).is(':checked')) {
                $('input[id="' + id + '"]').attr('checked', true).trigger('change');
            } else {
                $('input[id="' + id + '"]').prop('checked', $('input[data-category="' + id + '"]:checked').length).trigger('change');
            }
        });
    });
</script>