@model WDAdmin.WebUI.Models.ChangePasswordModel

@{
    ViewBag.Title = LangResources.PersonalDetails;
}

<h4 class="alert_info">@LangResources.ChangePasswordTitle</h4>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <article class="module width_full">
        <header><h3>@LangResources.ChangePasswordHeader</h3></header>
            <br />
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword) @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword) @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword) @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <br />
            <input type="submit" value="@LangResources.SaveButton" />
    </article>
}

@Html.ValidationSummary(true, LangResources.ChangePasswordError)