@model WDAdmin.WebUI.Models.ForgottenPasswordModel

@{
    ViewBag.Title = LangResources.ForgottenPassword;
}

<h4 class="alert_info">@LangResources.ForgottenPasswordTitle</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <article class="module width_full">
        <header><h3>@LangResources.ForgottenPasswordHeader</h3></header>
        <br />
        <div class="editor-label">
            @LangResources.EmailOrUsername
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserIdent, new { @class = "extra_left_margin" })  
            @Html.ValidationMessageFor(m => m.UserIdent)
        </div>
        <br />
        <input type="submit" value="@LangResources.SendButton" />
        <button onclick="history.back(); return false;">@LangResources.BtnCancel</button>
    </article>
}

@Html.ValidationSummary(true, LangResources.PasswordRecreateError)