@model WDAdmin.WebUI.Models.TopAdminHomeModel

<h4 class="alert_info">@LangResources.TopAdminModuleTitle</h4>

@if (Model.Customers.Any())
{
    <article class="module width_full">
        <header><h3>@LangResources.TopAdminModuleHeader</h3></header> 
        <br />                  
        @{
            var grid = new WebGrid(Model.Customers, null, null, 20);
            @grid.GetHtml(columns: grid.Columns(
                grid.Column("CustomerName", LangResources.CustomerName, canSort: true),
                grid.Column(header: "", format: @<text>@Html.ActionLink(LangResources.Edit, "UserGroupEdit", "UserGroup", new { id = item.CustomerId }, new { @class = "icn_edit_article" })</text>)
            ));
        }       
        <br />           
    </article>                     
}
else
{
    <h4 class="alert_error">
        @LangResources.NoCustomersFound
    </h4>
}